h1{
  background-color: #ffffff;
    padding: 20px;
    padding-bottom: 0px;
    color: rgb(0, 0, 0);
    text-align: left;
}

main {
  min-height: 80vh;
}

.App {
    text-align: start;
  }
  
  .App-header {
    background-color: #ffffff;
    padding-left: 20px;
    color: rgb(0, 0, 0);
    text-align: left;
  }
  
  .App-main {
    background-color: #e9e3e3;
    margin: 20px;
    min-height: 80vh;
    align-items: start;
  }
  
  ul {
    list-style: none;
    padding: 0;
    align-items: start;
  }
  
  li {
    border: 1px solid #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 20px;
  }
  
  button {
    margin-right: 10px;
  }

  .article{
    margin: 0;
    padding-left: 50px;
  }
  
